*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.wrapper{
  max-width: 1080px;
  width: 100%;
  margin: 60px auto;
  min-height: 600px;
  padding: 45px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

}

.logo{
  display: flex;
  align-items: center;
  line-height: 1;
  &__text{
    margin-left: 10px;
    h3{
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      
    }
    span{
      font-style: normal;
      font-size: 14px;
      color: #9D9D9D;
  
  
    }
  }
 
}
.header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #EAEAEA;
}
.headerRight{
  display: flex;
  li{
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    span{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #5C5C5C;
      margin-left: 8px;

    }

  }
}


/* content */
.content{
  margin-top: 40px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      }
      &-search{
        position: relative;
        width: 260px;
        img{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }
        input{
          width: 100%;
          padding: 15px 46px;
          min-width: 250px;
          border: 1px solid #F3F3F3;
          box-sizing: border-box;
          border-radius: 10px;
          font-size: 14px;
          color: #C4C4C4;
          &::placeholder{
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
          }
        }
      }
  }

}

.card{

  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__item{
    position: relative;
    width: 210px;
    min-height: 260px;
    padding: 20px 30px 30px 30px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 40px;
    margin-bottom: 40px;
    transition: all 0.5s;
    margin: 15px;
    cursor: pointer;
    &-like{
      position: absolute;
    }
    &:hover{
      border: 1px solid #F8F8F8;
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-4px);
    }
    .favorite{
      position: absolute;
      cursor: pointer;
    }
    &-top{
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      img{
        width: 100%;
        height: auto;
      }
      p{
        margin: 14px 0;
      }
    }

      &-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--price{
          display: flex;
          flex-direction: column;
          span{
            text-transform: uppercase;
            color: #BDBDBD;
            font-size: 11px;
            line-height: 13px;
          }
          b{
            font-size: 14px;
            line-height: 17px;
          }
        }
        button{
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
  }
}


/************drawer**********************/
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;

}

.drawer{
  opacity: 10;
  position: absolute;
  width: 385px;
  height: 100%;
  z-index: 10;
  right: 0;
  top: 0px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
    h2{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }


}
.cartItems{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  h3{
    margin-top: 25px;
    text-align: center;
    span{
      color: #d55858;
    }
  }
  .cartItem{
    display: flex;
    align-items: center;
    width: 325px;
    min-height: 119px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    .card__item-bottom--price{
      padding: 0 15px 0 20px;
    }
    img{
      height: auto;
      max-width: 70px
    }
    
  }
}



.drawer__bottom{
  li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    div{
      margin:0 8px;
      border-bottom: 1px dashed #DFDFDF;
      flex: 1;
    }
  }
}


.btn-remove{
  border: none;
  background-color: transparent;
  cursor: pointer;
  img{
    width: 32px;
    height: 32px;
  }
}

.greenBtn{
  margin-top: 15px;
  button{
    position: relative;
    width: 100%;
    padding: 18px;
    background: #9DD558;
    border-radius: 18px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    &:hover img{
      right: 15px;

    }
    img{
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
      
    }

  }
}





